    {{> head }}
    {{> navbar }}

<div class="container mt-5">
<div class="row" >
    <div class="col text-center">
        <h1>You got it!</h1>
        <p>
            Today is 03-11-20
        </p>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <img src="https://ahount.com/wp-content/uploads/2019/11/Best-Fortnite-Wallpapers-HD-and-4K-for-PC-2_4d470f76dc99e18ad75087b1b8410ea9.jpg" width="600px" alt="">
    </div>
</div>    
 </div>

    {{> footer }}
